body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
}

.btn {
    display: flex;
    gap: 20px;
}

.btn button {
    height: 50px;
    width: 75px;
}

.score {
    display: flex;
    gap: 30px;
}
